{% extends 'base.html' %}

{% load static %}

{% load templatetags %}

{% block title %}
    Interaction List
{% endblock %}

{% block content %}

    <noscript class="d-block text-center bg-warning text-light py-3">
        This page requires Javascript to work correctly.
    </noscript>
    <main class="container">
        <div class="row">
            <div class="col-9 mx-auto col-md-12 col-lg-12">
                <h2 class="my-5 text-center">All projects interactions by keyword:
                    <span class="ml-2 text-underline">{{ object_list.0.keyword.all.0.title }}</span>
                </h2>

                {% if object_list %}
                <div>
                    {% for action in object_list %}
                    <div>
                        <div class="card mb-3 ml-3">
                            <div class="card-body text-secondary">
                                <h5 class="card-title d-flex justify-content-between">
                                    <span>
                                        <a href="{% url 'interaction-details'
                                            action.project.company.slug action.project.slug action.pk %}">
                                            {{ action.get_appeals }}
                                        </a>
                                        <span class="fs-_8 ml-3 align-top">
                                            ["{{ action.project.title|lower }}" - Company:
                                                {{ action.project.company.title|upper }}]</span>
                                    </span>

                                    {% if action.manager|cut:" " == user.username|cut:" " %}
                                        <span>
                                            <a href="{% url 'update-action'
                                                action.project.company.slug action.project.slug action.pk %}">
                                                <span class="material-icons edit-to-close-size">edit</span>
                                            </a>
                                            <a href="{% url 'delete-action'
                                                action.project.company.slug action.project.slug action.pk %}">
                                                <span class="material-icons">close</span>
                                            </a>
                                        </span>
                                    {% endif %}
                                </h5>
                                <p class="card-text">{{ action.description|safe|truncatechars:150 }}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                    <ul class="list-unstyled row mb-0">
                                        <li class="text-muted px-2">Keywords:</li>
                                        {% for keyword in action.keyword.all %}
                                        <li class="mr-2"><a href="" class="btn-link">{{ keyword }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <form method="post" name="rate{{ action.id }}" action="{% url 'add_like' %}">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ action.id }}" name="post">
                                        <span class="like">
                                        {% for k, v in total.items %}
                                            {% if action.id == k %}
                                            <span class="total_likes">{{ v }}</span>
                                            {% endif %}
                                        {% endfor %}

                                        {% if user.id != action.manager_id %}
                                            {% for like in likes %}
                                                {% if like.action_id == action.id %}
                                                    {% for key, val in rate.fields.like.choices %}
                                                        {% if key == like.like_id %}
                                                        <input type="radio" name="like" value="{{ key }}"
                                                               id="like_{{ key }}_{{ action.id }}" checked>
                                                        <label for="like_{{ key }}_{{ action.id }}">{{ key }}</label>
                                                        {% else %}
                                                        <input type="radio" name="like" value="{{ key }}"
                                                               id="like_{{ key }}_{{ action.id }}">
                                                        <label for="like_{{ key }}_{{ action.id }}">{{ key }}</label>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <span class="no-like"></span>
                                        {% endif %}
                                        </span>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <nav class="container mt-5">
                    <ul class="pagination">
                        {% if is_paginated %}
                            {% include "pagination.html" %}
                        {% endif %}
                    </ul>
                </nav>
                {% else %}
                <h3 class="text-secondary get-center">There are no selected interactions</h3>
                {% endif %}
            </div>

        </div>
    </main>

{% endblock %}