{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ current.get_appeals }}
{% endblock %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-10 mx-auto col-md-10 col-lg-10">
            <h3 class="mt-5">Interaction Type: {{ current.get_appeals }}
                <div class="float-right row">
                    {% if current.keyword.count != 0 %}
                    <small class="font-weight-bold h6">Keywords: </small>
                    {% endif %}
                    <ul class="list-unstyled ml-3 fs-1">
                        {% for keyword in current.keyword.all %}
                            {% if keyword is not None %}
                            <li>{{ keyword }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    <div class="clearfix"></div>
                </div>

            {% if perms.interactions.change_interaction and current.manager|cut:" " == user.username|cut:" " %}
                <a class="ml-5"
                   href="{% url 'update-action' current.project.company.slug current.project.slug current.pk %}">
                    <span class="material-icons">edit</span>
                </a>
            {% endif %}

            {% if perms.interactions.delete_interaction and current.manager|cut:" " == user.username|cut:" " %}
                <a class="ml-5"
                   href="{% url 'delete-action' current.project.company.slug current.project.slug current.pk %}">
                    <span class="material-icons">delete</span>
                </a>
            {% endif %}
            </h3>

            <small class="card-title mb-4 font-italic">Manager: {{ current.manager }}</small>
            <p class="card-text">{{ current.description|safe }}</p>
            <p class="mt-5 text-uppercase">
                <span class="text-underline text-capitalize">Project to:</span>
                {{ current.project }}
            </p>

            <h4 class="clearfix">
                <span class="text-secondary font-italic float-right">
                {% for k, v in total.items %}
                    {% if current.id == k %}
                    Rating: {{ v }}
                    {% endif %}
                {% endfor %}
                </span>
            </h4>
            <hr>
        </div>
    </div>
</main>

{% endblock %}