{% extends 'base.html' %}

{% load static %}

{% block title %}
    Company List
{% endblock %}

{% block menu_1 %}
    <li class="nav-item active">
        <a class="nav-link disabled">Company List <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ml-5">
        <a class="nav-link" href="{% url 'projects' %}">All Projects</a>
    </li>
{% endblock %}

{% block menu_2 %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'cabinet' %}">Personal Room</a>
    </li>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-9 mx-auto col-md-12 col-lg-12">
                <h1 class="my-5 text-center">Company List</h1>
                {% for company in companies %}
                <div class="card my-2">
                    <details>
                        <summary class="card-header">{{ company.title }} <span class="text-muted">(The contact person: {{ company.contact_person }})</span><cite class="text-warning float-right" style="font-size: 10pt;">last changed: {{ company.updated_date|date:"d.m.Y" }} in {{ company.updated_date|time:"H:i" }}</cite></summary>
                        <div class="card-body">
                            <h4 class="card-title"><em>The contact person: {{ company.contact_person }}</em><cite class="text-muted float-right" style="font-size: 10pt;">{{ company.created_date|date:"d.m.Y" }} in {{ company.created_date|time:"H:i" }}</cite></h4>
                            <p class="card-text">{{ company.description|safe }}</p>
                            <br>
                            <div class="float-right">
                                <p class="card-text"><small class="text-muted">Address: {{ company.address }}</small></p>
                                    <small class="text-muted">
                                        <ul class="list-unstyled">Contact numbers:
                                            {% for number in phones.all %}
                                            {% if number.company_id == company.id %}
                                            <li class="text-right">{{ number }}</li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </small>
                                    <small class="text-muted">
                                        <span class="d-inline-block align-text-top">E-mail:</span>
                                        <ul class="mx-1 list-unstyled d-inline-block align-text-top">
                                            {% for email in emails.all %}
                                            {% if email.company_id == company.id %}
                                            <li>{{ email }}</li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </small>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <a href="{{ company.get_absolute_url }}" class="btn btn-outline-info px-5">Details</a>
                        </div>
                    </details>
                </div>
                {% endfor %}
            </div>

            <nav class="container mt-5">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                    {% if page_obj.number == page %}
                    <li class="page-item disabled"><a class="page-link">{{ page }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </div>

{% endblock %}