{% extends 'base.html' %}

{% load static %}

{% load templatetags %}

{% block addjs %}
<script src="{% static 'js/sorting.js' %}"></script>
{% endblock %}

{% block title %}
    Company List
{% endblock %}

{% block content %}

    <noscript class="d-block text-center bg-warning text-light py-3">
        This page requires Javascript to work correctly.
    </noscript>
    <main class="container">
        <div class="row">
            {% if companies %}
            <div class="col-9 mx-auto col-md-12 col-lg-12">
                <h1 class="my-5 text-center">Company List</h1>
                {% if perms.someapp.add_company %}
                <a href="{% url 'new-company' %}"> + Add</a>
                {% endif %}
                {% if request.get_full_path|cut:request.path == '' %}
                <form method="get" id="sort" action="{% url 'companies' %}?sorting=title" class="text-right">
                <script>$(document).ready(function() {$('#sort').submit();});</script>
                {% else %}
                <form method="get" class="text-right">
                {% endif %}
                    <select name="sorting" id="sorting" class="text-secondary p-2 ml-2">
                    {% for key, value in filterset.field.choices %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                    </select>
                </form>

                <script>
                        $('#sorting').on('change', function () {$(this.form).submit();});

                    let path = '{{ request.get_full_path|cut:request.path }}'.slice(1,);
                        reqObj = getDict(path);
                </script>

                {% for company in companies %}
                <div class="card my-2">
                    <details>
                        <summary class="card-header position-relative">{{ company.title }}
                            <span class="text-muted">(The contact person: {{ company.contact_person }})</span>
                            {% if perms.someapp.change_company %}
                            <a class="ml-3" href="{% url 'update-company' company.slug %}">
                                <span class="material-icons fs-1">edit</span>
                            </a>
                            {% endif %}
                            {% if perms.someapp.delete_company %}
                            <a class="m-0 position-absolute delete-btn-company"
                               href="{% url 'delete-company' company.slug %}">
                                <span class="material-icons fs-1">close</span>
                            </a>
                            {% endif %}
                            <cite class="text-warning float-right" style="font-size: 10pt;">
                                last changed: {{ company.updated_date|date:"d.m.Y" }}
                                in {{ company.updated_date|time:"H:i" }}</cite></summary>
                        <div class="card-body">
                            <h4 class="card-title"><em>The contact person: {{ company.contact_person }}</em></h4>
                            <p class="card-text">{{ company.description|safe }}</p>
                            <br>
                            <a href="{{ company.get_absolute_url }}" class="btn btn-outline-info px-5 float-right">
                                Details
                            </a>
                            <div class="clearfix">
                        </div>
                    </details>
                </div>
                {% endfor %}
            </div>

            <nav class="container mt-5">
                <ul class="pagination">
                    {% if is_paginated %}
                        {% include "pagination.html" %}
                    {% endif %}
                </ul>
            </nav>
            {% else %}
            <h3 class="text-secondary get-center">
                There are no companies available
                {% if perms.someapp.add_company %}
                <small class="d-block text-center mt-3">
                    <a href="{% url 'new-company' %}"> + add a new company</a>
                </small>
                {% endif %}
            </h3>
            {% endif %}

        </div>
    </main>

{% endblock %}