{% extends 'base.html' %}

{% load static %}

{% load templatetags %}

{% block addjs %}
<script src="{% static 'js/sorting.js' %}"></script>
{% endblock %}

{% block title %}
    Projects List
{% endblock %}

{% block content %}

    <noscript class="d-block text-center bg-warning text-light py-3">
        This page requires Javascript to work correctly.
    </noscript>
    <main class="container">
        <div class="row">
            {% if projects %}
            <div class="col-9 mx-auto col-md-12 col-lg-12">
                <h1 class="my-5 text-center">Projects</h1>

                <form method="get" class="text-right my-3">
                    <select name="sorting" id="sorting" class="text-secondary p-2 ml-2">
                    {% for key, value in filterset.field.choices %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                    </select>
                </form>

                <script>
                    $('#sorting').on('change', function () {$(this.form).submit();});

                    let path = '{{ request.get_full_path|cut:request.path }}'.slice(1,);
                        reqObj = getDict(path);
                </script>

                <ol class="list-unstyled">
                    {% for project in projects %}
                    <li>
                        <div class="card border-secondary mb-3 ml-3">
                            <div class="card-header">
                                <span class="position-relative">
                                    {% if user.username|cut:" " == project.creator|cut:" " %}
                                    <a class="m-0 position-absolute delete-btn-project"
                                       href="{% url 'delete-project' project.company.slug project.slug %}">
                                        <span class="material-icons">close</span>
                                    </a>
                                    <a href="{% url 'update-project' project.company.slug project.slug %}">
                                        <span class="material-icons fs-1">edit</span>
                                    </a>
                                    {% endif %}
                                </span>
                                <span class="float-right {{project.days_to.1}}">{{project.days_to.0}}</span>
                            </div>

                            <div class="card-body text-secondary">
                                <h5 class="card-title">
                                    <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                                </h5>
                                <p class="card-text">{{ project.description|safe }}</p>
                            </div>
                            <h4 class="card-header">
                                <span class="text-secondary font-italic">Price of project:</span>
                                ${{ project.price }}
                            </h4>
                        </div>
                    </li>
                    {% endfor %}
                </ol>
            </div>

            <nav class="container mt-5">
                <ul class="pagination">
                    {% if is_paginated %}
                        {% include "pagination.html" %}
                    {% endif %}
                </ul>
            </nav>
            {% else %}
            <h3 class="text-secondary get-center">There are no projects available</h3>
            {% endif %}

        </div>
    </main>

{% endblock %}