{% extends 'base.html' %}

{% load static %}

{% load templatetags %}

{% load crispy_forms_tags %}

{% block title %}
    {{ project.title }}
{% endblock %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-10 mx-auto col-md-10 col-lg-10">
                <h1 class="my-5 position-relative">{{ project.title }}
                    {% if user.username|cut:" " == project.creator|cut:" " %}
                    <a class="ml-3" href="{% url 'update-project' project.company.slug project.slug %}">
                        <span class="material-icons">edit</span>
                    </a>
                    <a class="ml-3" href="{% url 'delete-project' project.company.slug project.slug %}">
                        <span class="material-icons">delete</span>
                    </a>
                    {% endif %}
                    <small class="status-project {{project.days_to.1}}">{{project.days_to.0}}</small>
                    {% if user.username == Admin %}
<!--                    {% now 'Y-m-d' as today %}-->
<!--                    {% if project_item.begin|date:"Y-m-d" > today %}-->
<!--                    <small class="status-project text-secondary">-->
<!--                        Will be started {{project_item.begin|date:"d.m.y"}}-->
<!--                    </small>-->
<!--                    {% elif project_item.end|date:"Y-m-d" < today %}-->
<!--                    <small class="status-project text-success">Completed</small>-->
<!--                    {% else %}-->
<!--                    <small class="status-project text-info">In Progress</small>-->
<!--                    {% endif %}-->
                    {% endif %}
                </h1>
                <small class="card-title mb-4 font-italic">Responsible Person: {{ project.creator }}</small>
                <p class="card-text">{{ project.description|safe }}</p>
                <p class="text-uppercase mt-5 text-underline">Terms:</p>
                <dl class="row ml-5">
                    <dt class="col-sm-3 mb-3">Begin:</dt>
                        <dd class="col-sm-9">{{ project.begin|date:"d E Y" }}</dd>

                    <dt class="col-sm-3 mb-3">End:</dt>
                        <dd class="col-sm-9">{{ project.end|date:"d E Y" }}</dd>
                </dl>
                <h4 class="clearfix">
                    <span class="text-secondary font-italic float-right">
                        Price of project: ${{ project.price }}
                    </span>
                </h4>
                <hr>

                {% if project.interaction_set.all %}
                    <div class="d-flex justify-content-between align-items-center">
                        {% if perms.interactions.add_interaction %}
                            <small class="d-block mt-3 align-self-start">
                                <a href="{% url 'new-action' project.company.slug project.slug %}">
                                    + add a new interaction
                                </a>
                            </small>
                        {% else %}
                            <small class="d-block mt-3 align-self-start"></small>
                        {% endif %}
                            <h3 class="my-5 text-center">Interactions</h3>
                            <div>Hello</div>
                    </div>
                    <div>
                        {% for interaction in page_obj %}
                        <div>
                            <div class="card mb-3 ml-3">
                                <div class="card-body text-secondary">
                                    <h5 class="card-title position-relative">
                                        <a href="{% url 'interaction-details' project.company.slug project.slug interaction.pk %}">{{ interaction.get_appeals }}</a>
                                        {% if interaction.manager|cut:" " == user.username|cut:" " %}
                                        <span class="float-right">
                                            <a href="{% url 'update-action' project.company.slug project.slug interaction.pk %}"><span class="material-icons">edit</span></a>
                                            <a class="m-0 position-absolute delete-btn-action" href="{% url 'delete-action' project.company.slug project.slug interaction.pk %}"><span class="material-icons">close</span></a>
                                        </span>
                                        {% endif %}
                                    </h5>
                                    <p class="card-text">{{ interaction.description|safe|truncatechars:150 }}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="float-right font-italic">Rating: {{ interaction.rating }}</small>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <nav class="container mt-5">
                            <ul class="pagination">

                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=1 %}">First</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link">First</a></li>
                                    {% endif %}

                                    {% if page_obj.previous_page_number != 1 %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?{% param_replace page=page_obj.previous_page_number %}">Previous
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                                    {% endif %}

                                    {% for page_num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == page_num %}
                                        <li class="page-item disabled"><a class="page-link">{{ page_num }}</a></li>
                                        {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{% param_replace page=page_num %}">
                                                {{ page_num }}
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">
                                            Next
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?{% param_replace page=paginator.num_pages %}">
                                            Last
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                                    {% endif %}

                            </ul>
                        </nav>
                    </div>
                {% else %}
                    <div>
                        <h3 class="text-secondary text-center">
                            There are no interactions available
                            {% if perms.interactions.add_interaction %}
                            <small class="d-block text-center mt-3">
                                <a href="{% url 'new-action' project.company.slug project.slug %}">
                                    + add a new interaction
                                </a>
                            </small>
                            {% endif %}
                        </h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock %}