{% extends 'base.html' %}

{% load static %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}

<main class="container">
    <h2 class="text-center my-5">Reset Password</h2>
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-8 bg-light mx-auto mt-5 py-3">
        {% if messages %}
            {% for message in messages %}
            <p>We've emailed you instructions for setting your password <a href="{{ message }}">Go to confirm</a>.</p>
            {% endfor %}
        {% else %}
            <p>We've emailed you instructions for setting your password.</p>
        {% endif %}
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
        </div>
    </div>

</main>

{% endblock %}